{{ define "main" }}
<div class="list">
  <div class="left">
    {{ range .Pages }}
    <div class="link-title">
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </div>
    {{ end }}
  </div>
  <div class="center">
    <h1>{{ .Title }}</h1>
    <div class="content">
      {{ .Content }}
    </div>
    {{ range .Pages }}
    <div class="link-title">
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      <div class="summary">
        {{ .Summary }}
      </div>
    </div>
    {{ end }}
  </div>
  <div class="right">
    {{ range .Pages }}
    <div class="link-title">
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}